window.__TASKY_CONFIG__ = {
  DEMO_MODE: '${DEMO_MODE}',
  GOOGLE_CLIENT_ID: '${GOOGLE_CLIENT_ID}',
  MICROSOFT_CLIENT_ID: '${MICROSOFT_CLIENT_ID}',
  MOCK_OAUTH2_ENABLED: '${MOCK_OAUTH2_ENABLED}',
  MOCK_OAUTH2_URL: '${MOCK_OAUTH2_URL}'
}
